@font-face {
  font-family:"zektonrg";
  src: url("/Fonts/zekton-rg.otf") format("opentype");
}
@font-face {
  font-family:"BebasNeue-Regular";
  src: url("/Fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"alarmclock";
  src: url("/Fonts/alarmclock.ttf") format("truetype");
}

@font-face {
  font-family:"13_Misa";
  src: url("/Fonts/13_Misa.TTF") format("truetype");
}

@font-face {
  font-family:"BrandinkSans";
  src: url("/Fonts/BrandinkSans.otf") format("truetype");
}
@font-face {
  font-family:"BrandinkSans-light";
  src: url("/Fonts/BrandinkSansLight.otf") format("truetype");
}

/*
  CSS RESET
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  min-height: 100vh;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
}

.logoText {
  text-align: center;
  font-family:"zektonrg";
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.form-group:last-of-type{
  margin-bottom: 2px;
}

#startTime{
  font-size: 0.8rem;
  color: red;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
  font-family:"alarmclock";
}
.CenterWrapper{
  display: flex;
  flex-direction: column;

}

.signInUpFormInput {
  width: 200px;
  background: #fbf7ff;
  border-radius: 5px;
}
.signInUpFormInput:focus {
  border-color: #d9c2e9;
  outline: none;
}

.signInUpbtn {
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  border: 2px solid transparent;
  border-radius: 45px;
  box-shadow: 2px 2px 2px 2px;
  font-family:"zektonrg";
  font-weight: bolder;
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signInUpbtn:hover {
  color: #66046a;
}



#sorryPara {
  font-size: 2rem;
  font-family:"BebasNeue-Regular";
  text-wrap: balance;
  padding: 2vh 0vh;
}
#LeaderBoardHeader {
  font-family:"zektonrg";
  padding: 1vh 1vh;
  background: #f3ff2e;
  margin: 3px 0px;
  border-radius: 22px;
}

.collapsed {
  display: none;
}

.WrapperCollapse {
  background: blue;
}

.toggleBtn {
  background: linear-gradient(71deg, #f4e4ff, #f4f4f4);
  border: 2px solid transparent;
  border-radius: 45px;
  box-shadow: 2px 2px 2px 2px;
  font-family:"zektonrg";
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.toggleBtn:hover {
  color: #66046a;
}

.signInForm {
  display: flex;
  width: 100%;
  justify-content: center;
}

.signInUPText {
  font-size: 2rem;
  font-family:"zektonrg";
  text-align: center;
  padding: 1vh 0;
}

.signInUpLogo {
  height: 20vh;
  width: 20vh;
}
.signInUpLabel {
  font-family:"zektonrg";
  font-style: italic;
  font-size: 1.5rem;
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

#WrapperFaq {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
}

.WrapperQuestion {
  width: 50vw;
  box-shadow: 2px 2px 2px 2px;
  padding: 1vh 7px;
  margin: 0px 8px;
  border-radius: 13px;
  background-color: white;
}
.WrapperQuestion:last-child {
  margin-bottom: 2vh;
}

.QuestionHeader {
  padding: 2px 0px;
  font-family:"zektonrg";
  font-weight: bolder;
}
.faq-link{
  font-family:"13_Misa";
}
.faq-collapser{
  padding-left: 2vw;
  font-family:"zektonrg" ;
  padding-top: 2px;
  

}
.bpStatWrapper {
  display: flex;
  padding: 0vh 2vh;
  justify-content: space-between;
}
.bpStatFeild {
  font-family:"zektonrg";
}
.bpStatDataSpan {
  font-family:"BebasNeue-Regular";
}

#FaqHeader {
  margin: 2vh 0vh;
  font-weight: bold;
  font-family:"zektonrg";
  text-align: center;
}

.signupDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signForm {
  display: flex;
  flex-direction: column;
}

.batholder {
  margin-top: 5vh;
}

.loader {
  margin-top: 25vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  -webkit-animation: bounce 0.3s cubic-bezier(0.63, 0.09, 0.76, 0.45) infinite
    alternate;
  -moz-animation: bounce 0.3s cubic-bezier(0.63, 0.09, 0.76, 0.45) infinite
    alternate;
  -o-animation: bounce 0.3s cubic-bezier(0.63, 0.09, 0.76, 0.45) infinite
    alternate;
  animation: bounce 0.3s cubic-bezier(0.63, 0.09, 0.76, 0.45) infinite alternate;
}

#bat {
  position: fixed;
  top: 5em;
  left: -10.5em;
  -webkit-animation: hit 0.3s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite
    alternate;
  -moz-animation: hit 0.3s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite
    alternate;
  -o-animation: hit 0.3s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite alternate;
  animation: hit 0.3s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite alternate;
}

.red {
  fill: #d7172a;
}

.tan {
  fill: #ffd87d;
}

.white {
  fill: #ffffff;
}

@-webkit-keyframes hit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@-webkit-keyframes bounce {
  0% {
    top: -7em;
    height: 3em;
    width: 3em;
    transform: rotate(20deg);
  }
  25% {
    height: 3em;
    width: 3em;
  }
  75% {
    height: 3em;
    width: 3em;
  }
  100% {
    top: 0;
    height: 3em;
    width: 3em;
    transform: rotate(-20deg);
  }
}

@-moz-keyframes bounce {
  0% {
    top: -7em;
    height: 3em;
    width: 3em;
    transform: rotate(20deg);
  }
  25% {
    height: 3em;
    width: 3em;
  }
  75% {
    height: 3em;
    width: 3em;
  }
  100% {
    top: 0;
    height: 3em;
    width: 3em;
    transform: rotate(-20deg);
  }
}

@-moz-keyframes hit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@-o-keyframes bounce {
  0% {
    top: -7em;
    height: 3em;
    width: 3em;
    transform: rotate(20deg);
  }
  25% {
    height: 3em;
    width: 3em;
  }
  75% {
    height: 3em;
    width: 3em;
  }
  100% {
    top: 0;
    height: 3em;
    width: 3em;
    transform: rotate(-20deg);
  }
}

@-o-keyframes hit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes bounce {
  0% {
    top: -7em;
    height: 3em;
    width: 3em;
    transform: rotate(20deg);
  }
  25% {
    height: 3em;
    width: 3em;
  }
  75% {
    height: 3em;
    width: 3em;
  }
  100% {
    top: 0;
    height: 3em;
    width: 3em;
    transform: rotate(-20deg);
  }
}

@keyframes hit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#vidSpan {
  text-shadow: -1px -1px 3px beige;
  color: black;
  font-family:"BebasNeue-Regular";
  font-style: italic;
  text-align: center;
}

.Wrapper-Video-Player {
  margin: 9px 5px;
  padding: 8px;
  box-shadow: 0px 7px 6px 2px #2c1b47;
  background: linear-gradient(45deg, #d9c2e9, #673ab7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: fit-content;
}
#hillVidComp {
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  justify-content: center;
}
#Armchair-Video {
  height: 40vh;
}

.nav {
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4dvb;
  background-color: #2c1b47;
  padding: 0px 1.5vw;
  align-items: center;
  top: 0px;
  position: sticky;
}

.logo {
  height: 4vh;
  width: 4vw;
}

.nav a {
  font-family:"zektonrg";
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav .active {
  color: #ebeb98;
}

button.activeSport {
  color: #ebeb98;
}

.signoutButton {
  font-family:"zektonrg";
  display: inline-block;
  background-color: #2c1b47;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.flexParent {
  row-gap: 1vh;
  margin: 0 -5px;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #fbf7ff;
}

.homeTile {
  overflow: hidden;
  position: relative;
  border-radius: 26px;
  overflow-wrap: break-word;
  cursor: pointer;
  margin: 6px 5px;
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  border: 2px solid transparent;
  box-shadow: 2px 2px 2px 2px;
  font-family:"zektonrg";
  font-weight: bold;
  font-size: 2em;
  transition: color 0.3s ease;
  justify-content: center;

  &:not(:hover):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #d9c2e9b2, transparent);
    animation: shimmerAnimation 4s infinite linear;
  }
}

@keyframes shimmerAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.homeTile:hover {
  color: #92137f;
  box-shadow: 2px 12px 10px 0px #2c1b47;
}

.homeIcon {
  width: 50%;
  height: 50%;
}

#noGameImage {
  padding: 10px 0px;
  width: 50vw;
  height: 50vh;
  background-repeat: no-repeat;
}

.WrapperToday {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

#gameCompleteSpan {
  display: block;
}

.game {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 10px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #444;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
}

.WrapperPredictionRadios {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.radioButton {
  display: block;
  cursor: pointer;
}

.radioButtonLabel {
  text-align: center;
  text-wrap: wrap;
  font-family:"BebasNeue-Regular";
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.predictiveinfoGroup {
  display: flex;
  flex-direction: column;
}
.SubmitButton {
  margin-top: 1vw;
  align-items: center;
  justify-content: center;
  padding: 11px 11px;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  border-radius: 45px;
  box-shadow: 2px 2px 2px 2px;
  font-family:"zektonrg";
  font-weight: bolder;
}
.SubmitButton:hover {
  background: linear-gradient(71deg, #ecf6c6, #edd205);
}

.teamInfo {
  margin: 10px;
  display: inline-block;
  padding: 3px;
}

.pitcherName {
  text-wrap: nowrap;
  padding: 1.5px 0px;
  display: block;
}

.todayLiveScore {
  font-size: 1.4rem;
  font-weight: bold;
}

.teamGameLogo {
  width: 4vw;
  height: 4vh;
}

.teamName {
  font-size: 2rem;
}

.WrapperHittingTypeButtons {
  display: flex;
  gap: 8px;
}

.liveLink {
  color: red;
}

.predictedWinner {
  background-color: rgb(0, 195, 23);
}

.firstLiveRow {
  display: flex;
  justify-content: center;
  gap: 10vw;
  padding: 4vh;
}

.AllBaseInfoWrapper {
  border: rgb(200, 200, 248) solid 8px;
  box-shadow: 8px 8px 5px #444;
  display: inline-flex;
  padding: 3vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  background-color: #e1e9f2;
  width: max-content;
}

.Bases {
  flex-direction: row-reverse;
  float: none;
  flex: relative;
  justify-content: center;
  position: relative;
  display: flex;
}

#stat-button-header{
  box-shadow: 0px 1px 5px 2px #d9c2e9;;
    text-align: center;
    border-radius: 45px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    background: #022b3c;
    font-family:'zektonrg';

}

#season-stat-header{
  box-shadow: 1px 4px 8px 0px black;
  border-radius: 10px;
  width: 100%;
  font-family:"zektonrg";
  font-size: 1.2rem;
  background: linear-gradient(71deg, #d9c2e9, transparent);
  padding: 7px 8px;
  margin: 1px;
}



.statGroupButton.selected-saber-button{
  box-shadow: 2px 3px 0px 0px green;
  color: green;
}


#firstBase {
  border-width: 3vh;
  border-style: solid;
  align-self: flex-end;
  transform: rotate(45deg);
  display: block;
}

#secondBase {
  border-width: 3vh;
  margin-bottom: 6vh;
  border-style: solid;
  transform: rotate(45deg);
  transition-duration: 0.5s;
  display: block;
}
#player-flipcard-name{
    text-rendering: optimizelegibility;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    text-decoration: underline;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 2px 20px;
    text-shadow: 0px 0px 5px #120a00;
    font-family:'BebasNeue-Regular';
    background: #998872;
    color: #998872;
}

#thirdBase {
  border-width: 3vh;
  border-style: solid;
  align-self: flex-end;
  transform: rotate(45deg);
  transition-duration: 0.5s;
  display: block;
}

.activeBase {
  border-color: rgb(235, 199, 82);
}

.inactiveBase {
  border-color: rgb(200, 200, 248);
}

.pitchComponents {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PitchWrapper {
  padding: 1vh;
}

.LivePitch {
  display: flex;
  font-size: 2vh;
  color: black;
  font-family:"BebasNeue-Regular";
}

.PitchType {
  font-weight: bold;
  flex-wrap: wrap;
  text-decoration: underline;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.outGroup {
  width: max-content;
}

.OutMade {
  background-color: red;
}

#outOne {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#outTwo {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#outThree {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}

.strikeGroup {
  width: max-content;
}

.StrikeMade {
  background-color: red;
}
#sorryImage {
  box-shadow: -4px -2px 2px 2px black;
  border-radius: 45px;
  width: 50vw;
}

#strikeOne {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#strikeTwo {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#strikeThree {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}

.WrapperLiveCircles {
  display: inline-flex;
  background-color: #e1e9f2;
  flex-direction: column;
  padding: 0.5vw;
  border: rgb(200, 200, 248) solid 8px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #444;
}

.ballGroup {
  width: max-content;
}

.BallMade {
  background-color: rgb(17, 99, 6);
}

#ballOne {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#ballTwo {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#ballThree {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}
#ballFour {
  border: 1px solid;
  height: 20px;
  position: relative;
  top: 1px;
  width: 8px;
  display: inline-block;
  margin-right: 2px !important;
  border-radius: 10px;
}

.WrapperPitcherVsBatter {
  display: flex;
  justify-content: center;
}

.matchup {
  color: white;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 2vw;
  background: linear-gradient(45deg, #2d1432, #d9c2e9, #2d1432);
}

.matchup span {
  text-shadow: -1px 2px black;
  font-family:"zektonrg";
  display: block;
}

.bioSpan{
  font-family:"zektonrg";
}

.PitcherVsBatter .vs-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vs-text-container {
  justify-content: center;
}

.OnDeck {
  height: 10vh;
}
.onDeckSpan {
  font-family:"zektonrg";
}

.vsImage {
  height: 20vh;
  background: white;
  box-shadow: 2px 3px 2px 2px black;
  border-radius: 25px;
}

#VS {
  text-shadow: -1px 2px black;
  font-family:"zektonrg";
  font-size: 1.5rem;
  margin: 0 10px;
}
.CoachTitle {
  font-size: 1rem;
  font-family:"BebasNeue-Regular";
  text-wrap: balance;
}
.scoreNum {
  font-family:"BebasNeue-Regular";
  display: inline-flex;
  padding-inline: 2vw;
  font-size: 12vh;
}

.LiveGameScoreBoard {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10vw;
  padding: 1vh;
  margin-top: 0.1vh;
  margin-bottom: 1vh;
}

.scoreHeader {
  display: inline-block;
}

.glanceLogo {
  display: block;
  width: 10vw;
  height: 10vh;
}

.teamNameSpan {
  font-size: 1.3rem;
  font-weight: bold;
}

.RecordSpan {
  display: block;
}

.glanceSpan {
  display: flex;
  justify-content: center;
  font-size: 2.5vh;

  font-weight: bold;
}

.boxElement {
  display: flex;
  justify-content: center;
}


.boxLogo {
  height: 2vh;
}

.WrapperPitchingvis {
  display: flex;
}
.batterImg10 {
  border-radius: 12px;
}

.batterImg {
  display: inline;
  height: 34vh;
}

.pitchVis {
  display: flex;
  align-items: center;
}

.awayLineups {
  display: flex;
}

.bothLineups {
  display: flex;
  justify-content: space-around;
}

.lineup {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: max-content;
  box-shadow: 1px 8px 8px 5px #444;
}

.lineupBatter {
  padding: 3px;
  display: flex;
}

.BatterActive {
  background-color: rgb(238, 238, 83);
}

.leaderEntry {
  background-color: white;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  width: 50vw;
  padding: 2vh;
  font-size: 1.5rem;
  font-weight: bold;
}

.cata {
  display: flex;
  gap: 4vw;
  text-decoration: underline;
}

.leaderBoardCata {
  display: flex;
  gap: 2vw;
}

.leaderEntry {
  font-family:"zektonrg";
  justify-content: center;
  font-size: 1.5vh;
  display: flex;
  gap: 8vw;
}

#selectDropDowns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px 0px;
}

#RosterTitle {
  text-align: center;
  font-size: 5rem;
  font-family:"zektonrg";
}

.WrapperRosterCount{
  display: flex;
  flex-direction: column;
}


.RosterGroup {
  display: flex;
  flex-direction: column;
}
.WrapperPlayer {
  margin: 7px 0px;
  border-radius: 22px;
  box-shadow: -14px 4px 8px 0px #444;
  padding: 10px 4px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#playerPhoto {
  box-shadow: -4px 2px 8px 2px;
  border-radius: 19px;
  margin-left: 9px;
  height: 8vh;
  width: 8vh;
}
.WrapperRoster {
  display: flex;
  flex-direction: column;
}
.WrapperTeamMapRoster {
  display: flex;
  padding-left: 7vw;
}

.RosterCata {
  padding: 5px 0px;
  font-size: 3rem;
  font-family:"zektonrg";
  text-decoration: underline;
}

.playerJerseyNum {
  padding-left: 2px;
  font-family:"zektonrg";
  font-size: 0.8rem;
  color: #4a4a4a;
}

.playerName {
  font-family:"zektonrg";
  font-size: 2rem;
  font-weight: bold;
}

.playerStatus {
  font-family:"zektonrg";
  font-size: 1rem;
}
#hill-comp {
  align-self: center;
  background: beige;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hillComp {
  height: 68vh;
  max-width: 100vw;
  margin: 8px 0px;
}

.playerFieldCard {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.WrappersaberField {
  display: flex;
  flex-direction: column;
}

.fieldImg {
  background: linear-gradient(71deg, #d9c2e9, transparent);
  display: inline-flex;
  border-radius: 10px;
  width: 18vw;
}

.saberSpan {
  display: flex;
  flex-direction: column;
}

.SearchBarRow {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

#searchInput {
  width: 100%;
  width: -webkit-fill-available;
  padding: 6px 6px;
  border-width: 0px 0px 5px 0px;
  border-bottom-color: #2c1b47;
  border-radius: 6px;
}
.displayedSearchOption {
  color: gray;
  padding-left: 2rem;
}

.fa-2x {
  font-size: 1.2em;
}

.search {
  display: flex;
  width: 50vw;
  flex-direction: column;
}

.topLineWrapper {
  padding: 4vh;
  display: flex;
  justify-content: center;
  gap: 5vw;
}


#WrapperUserHome {
  min-height: 100vh;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
}

#profilePicturesGroupHeader{
  font-family:"13_Misa";
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 1px 0px blue;
  border-radius: 45px;
  padding: 4px;
  background: black;
  margin-bottom: 5px;
  border: 3px #6e43b5 solid;
  text-align: center;
}

.wrapperUserResults {
  background: black;
  color: white;
  box-shadow: 2px 2px 2px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  border: 3px #6e43b5 solid;
  border-radius: 45px;
}

.SummaryInstance {
  margin-bottom: 4px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.WrapperChooseImage {
  box-shadow: 2px 2px 2px 2px black;
  padding: 2vh;
  background: linear-gradient(180deg, #d9c2e9, #c8c8f8);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#choosePhoto {
  font-family:"zektonrg";
  margin-bottom: 6px;
}

.WrapperUserSummary {
  display: flex;
}

#UserSummaryImage {
  box-shadow: 3px 4px 8px 2px #2c1b47;
  border-radius: 45px;
  width: 10vw;
}

.currentProPic {
  box-shadow: 2px 4px 10px 2px green;
}
.notCurrentPic {
  box-shadow: -2px 1px 10px 0px red;
}

.picOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.settingsImageOption {
  width: 5vw;
  margin: 0px 3px;
}

#UserResultsSummary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw;
}

#SettingsWrapperHeader {
  letter-spacing: 5px;
  text-decoration: underline;
  color: #2d1432;
  font-family:"zektonrg";
}

.WrapperUserSettingsPanel {
  border-radius: 25px;
  padding: 3vw;
  gap: 1vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}


#HeaderSummary {
  font-family:'zektonrg';
  text-align: center;
  width: 100%;
}
.summarySpan {
  font-family:"zektonrg";
}
.streakSpan {
  font-family:"zektonrg";
}
.userDataSpan {
  text-shadow: none;
  padding: 3px;
  border-radius: 45px;
  color: red;
  background: black;
  font-family:"alarmclock";
  text-transform: uppercase;
}

.currentPlay {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  border: rgb(200, 200, 248) solid 0.5vh;
  box-shadow: 8px 8px 5px #444;
  width: max-content;
  align-items: center;
  height: max-content;
}

.playSpan {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.5vh;
}

.score {
  background: #ffffd0;
  font-weight: bolder;
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

.WrapperScoringPlays {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0.5vh;
  border: rgb(200, 200, 248) solid 0.5vh;
  box-shadow: 8px 8px 5px #444;
}

.ScoringPlays {
  display: flex;
  justify-content: center;
}
.scoreheader {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 3vh;
}

.displayWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
}

.UtilityTeamSelect {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #333;
  box-shadow: 8px 8px 5px #2d1432;
  color: black;
  border-radius: 4px;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  width: 200px;
  cursor: pointer;
}

.UtilityRosterSelect {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #333;
  box-shadow: 8px 8px 5px #2d1432;
  color: black;
  border-radius: 4px;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  width: 200px;
  cursor: pointer;
}

.AdvancedSelect {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #333;
  box-shadow: 8px 8px 5px #2d1432;
  color: black;
  border-radius: 4px;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  width: 200px;
  cursor: pointer;
}

.batterTeamDisplay {
  margin: 13px 0px;
  height: 8vh;
  width: 8vw;
}

.WrapperadvancedBatter {
  padding-top: 5px;
  gap: 0.3vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.nonMlbPitcher {
  width: 6rem;
  height: 8rem;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 31px;
}

.batterCard {
  border-radius: 12px;
  justify-content: space-evenly;
  padding: 0.2vw;
  display: flex;
  width: max-content;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  flex-direction: column;
}

.ABSpan {
  font-family:"zektonrg";
  color: black;
}
.ABSpanName {
  padding: 2px 0px;
  text-align: center;
  font-family:"zektonrg";
  color: black;
  text-decoration: underline;
}



.GroupTopRow {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.WrapperPlayerCardBio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 14px;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  border-radius: 45px;
  box-shadow: 2px 2px 2px 2px;
  width: max-content;
}

.WrapperBioText {
  display: flex;
  flex-direction: column;
  padding: 2vh 1vw;
  gap: 3px;
  color: black;
}

#PlayerCardImage {
  height: 20vh;
  width: 20vh;
}
#ImageName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerName {
  font-size: 2rem;
  font-family:"zektonrg";
}

.BioFeild {
  font-weight: bolder;
  letter-spacing: 1px;
  margin-right: 6px;
  font-family:"13_Misa";
}

.StatFeild {
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px;
  width: 204px;
  padding: 3px;
  background: #ececff;
  font-weight: bolder;
}

.StatWrapper {
  display: flex;
  flex: 1 0 calc(10% - 10px);
  margin: 5px;
  flex-direction: column;
  gap: 3px;
}

.WrapperPlayerStats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 4vw;
  flex-direction: row;
  gap: 2px;
}

.statGroupButton {
  /* display: flex; */
  /* background-color: #c8d4fe; */
  align-items: center;
  justify-content: center;
  padding: 11px 11px;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  border-radius: 45px;
  box-shadow: 4px 7px 2px 2px;
  font-family:"zektonrg";
  font-weight: bolder;
}

.statGroupButton:hover {
  background: #d9c2e9;
  border: 4px gold;
}

.WrapperStatGroupButtons {
  padding: 11px;
  gap: 7px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 28%;
}

.statHeader {
  width: 100%;
  font-family:"zektonrg";
  font-size: 2rem;
  background: linear-gradient(71deg, #d9c2e9, transparent);
  padding: 7px 8px;
  margin: 1px;
}
/* :root {
  --mets-primary-color: #ff5910;
  --mets-secondary-color: #002d72;
} */

.Colors108 {
  background: linear-gradient(182deg, #003263, #ba0021);
}
.Colors109 {
  background: linear-gradient(182deg, #a71930, #e3d4ad);
}
.Colors110 {
  background: linear-gradient(182deg, #df4601, #000000);
}
.Colors111 {
  background: linear-gradient(182deg, #bd3039, #0c2340);
}
.Colors112 {
  background: linear-gradient(182deg, #0e3386, #cc3433);
}
.Colors113 {
  background: linear-gradient(182deg, #c6011f, #000000);
}
.Colors114 {
  background: linear-gradient(182deg, #00385d, #e50022);
}
.Colors115 {
  background: linear-gradient(182deg, #333366, #c4ced4);
}
.Colors116 {
  background: linear-gradient(182deg, #0c2340, #fa4616);
}
.Colors117 {
  background: linear-gradient(182deg, #002d62, #eb6e1f);
}
.Colors118 {
  background: linear-gradient(182deg, #004687, #bd9b60);
}
.Colors119 {
  background: linear-gradient(182deg, #005a9c, #a5acaf);
}
.Colors120 {
  background: linear-gradient(182deg, #ab0003, #14225a);
}
.Colors121 {
  background: linear-gradient(182deg, #ff5910, #002d72);
}
.Colors133 {
  background: linear-gradient(182deg, #003831, #efb21e);
}
.Colors134 {
  background: linear-gradient(182deg, #27251f, #fdb827);
}
.Colors135 {
  background: linear-gradient(182deg, #2f241d, #ffc425);
}
.Colors136 {
  background: linear-gradient(182deg, #0c2c56, #005c5c);
}
.Colors137 {
  background: linear-gradient(182deg, #fd5a1e, #27251f);
}
.Colors138 {
  background: linear-gradient(182deg, #c41e3a, #ffffff);
}
.Colors139 {
  background: linear-gradient(182deg, #092c5c, #8fbce6);
}
.Colors140 {
  background: linear-gradient(182deg, #003278, #c0111f);
}
.Colors141 {
  background: linear-gradient(182deg, #134a8e, #1d2d5c);
}
.Colors142 {
  background: linear-gradient(182deg, #002b5c, #d31145);
}
.Colors143 {
  background: linear-gradient(182deg, #e81828, #002d72);
}
.Colors144 {
  background: linear-gradient(182deg, #ce1141, #13274f);
}
.Colors145 {
  background: linear-gradient(182deg, #27251f, #c4ced4);
}
.Colors146 {
  background: linear-gradient(182deg, #00a3e0, #ef3340);
}
.Colors147 {
  background: linear-gradient(182deg, #c4ced3, #0c2340);
}
.Colors158 {
  background: linear-gradient(182deg, #ffc52f, #12284b);
}
.playerPosition {
  font-family:"zektonrg";
}
#playerAge {
  font-family:"zektonrg";
}
.league-Leader-Card {
  border-radius: 26px;
  margin: 1vh 2px;
  box-shadow: 2px 2px 2px 2px;
  align-items: center;
  padding: 0.5vh 0.2vw;
  display: flex;
  width: 14vw;
  background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
  flex-direction: column;
}

.league-Leader-Image {
  width: 10vw;
}

.MiddleRow {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0vw 10vw;
}

.StatSearchBtn {
  font-size: 1.1rem;
  font-family:"zektonrg";
  border: none;
  border-radius: 11px;
  color: white;
  background: #2c1b47;
  width: 100%;
  height: 39px;
}

#Wrapper404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
#SubHeader404 {
  color: #9e7c7c;
  font-style: italic;
}

.rosterCount {
  font-family:"BebasNeue-Regular";
}

.WrapperPlayer:hover {
  background: #ffffe2;
}

.ShownHeader {
  display: flex;
  align-items: center;
}

.PitchDescription {
  font-family:"zektonrg";
}

.pitches {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.PitchWrapper {
  border: 2px dashed red;
  border-radius: 15px;
  font-family:"alarmclock";
  text-transform: uppercase;
}

.leagueSelect {
  position: sticky;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: inherit;
}
.PitchBreak {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.leagueSelectButton {
  background-color: #2c1b47;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6.5px 8px;
  width: 12vw;
  margin-top: 5px;
}

.headerBat {
  text-align: center;
  font-family:"zektonrg";
}

#leagueHeader {
  text-align: center;
  font-family:"zektonrg";
}

#welcome {
  text-align: center;
  color: #2c1b47;
  text-shadow: 2px 1px 0px #ffffff;
  margin-top: 6px;
  margin-bottom: 10px;
  font-family:"13_Misa";
}

#loginPrompt {
  display: flex;
  align-items: center;
}
#promptText {
  font-style: italic;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.invalidEntry {
  animation: shake 0.2s ease-in-out 0s 2;
}

.probMLBPitcherPhoto {
  width: 10rem;
  height: 10rem;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 31px;
}
.selectteamBat {
  align-self: center;
  height: 11vh;
  text-align: center;
  padding: 6px;
  font-size: 1rem;
  border-radius: 8px;
  background: #2c1b47;
  color: white;
  font-family:"zektonrg";
}
.Alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: balance;
  text-align: center;
}
#WS-Winner {
  font-family:"zektonrg";
}
#Fall {
  font-family:"zektonrg";
  border-radius: 45px;
  font-size: 1rem;
  padding: 8px 12px;
  margin: 3px 0px;
  background: #cbcbff;
}

th.teamLogoTh {
  border-right: none;
}

#standingLogo {
  height: 2rem;
  width: 2rem;
}


table#standingsTable {
  border: 1px solid black;
  border-collapse: collapse;
}

th.team-th {
  border-left: none;
}

#standingsTable {
  width: 33vw;
}

#logoTh {
  border-right: none;
}

.WrapperStandings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#teamNameTh {
  border-left: none;
}

th#standingsTable {
  background: yellow;
}

#standingsTable thead tr {
  background-color: #2c1b47;
  color: white;
  font-family:"zektonrg";
}

.highlightTeam {
  background-color: #ffffe2;
}

.TeamElementGroupings {
  display: flex;
  justify-content: space-evenly;
}

.WrapperSelect {
  display: flex;
  gap: 7vw;
}

.WrapperBlogHome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.article {
  padding-bottom: 6vh;
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
}

.article h1 {
  color: black;
  padding: 3vh 3vw;
  text-shadow: 2px 2px 5px #d9c2e9;
  text-align: center;
  margin-top: 2px;
  font-family:"zektonrg";
  margin-bottom: 20px;
  align-self: center;
  border-bottom: 2px #2d1432 solid;
}

.article > h2 {
  margin-left: 5vw;
  letter-spacing: 4px;
  padding: 5px;
  border-radius: 45px;
  color: #2c1b47;
  font-family:"13_Misa";
}

.article > p {
  margin-left: 7vw;
  margin-right: 2vw;
  text-wrap: balance;
  font-family:"BrandinkSans";
  text-rendering: optimizeLegibility;
}

.Wrapper-hill {
  box-shadow: 2px 4px 17px 2px #2d1432;
  margin: 8px 0px;
  align-self: center;
  width: fit-content;
  padding: 0px 30px;
  background: url("../public/Images/backgrounds/greengrid.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.hill-header {
  text-shadow: 2px 2px 5px #d9c2e9;
  font-family:"BebasNeue-Regular";
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.jump {
  animation: jumpAnimation 0.5s ease-in-out;
}

#hill {
  margin: 5px 0px;
  box-shadow: 2px 4px 11px 5px #2d1432;
  object-fit: cover;
  height: 20vh;
  border-radius: 25px;
  width: 9vw;
}

#Recent-Articles-Header {
  font-family:"BebasNeue-Regular";
  letter-spacing: 2px;
  padding-left: 12px;
}


.Flip-Card {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  justify-content: center;
  width: 24vh;
  height: 40vh;
  cursor: pointer;
  will-change: transform, opacity;
}
.Wrapper-Flip-Card{
  align-self: center;
  margin: 10px 0px;

}


.Flip-Card-Front,
.Flip-Card-Back {
  border: 11px inset #998872;
  box-shadow: 1px 5px 4px black;
  border-radius: 20px;
  background: linear-gradient(170deg, #d9c2e9, #ffffff);
}
.requirements-span{
  padding: 6px 3px;
  border-radius: 45px;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "zektonrg";
  margin-bottom: 5px;  
}
.sign-up-bold{
  color: #2c1b47;

}
#eyeIcon{
  margin-left: -18px;
}

.FlipSpan{
  font-size: 1.2rem;
  font-family:"zektonrg";
}
.Article-Card-Divs{
  gap: 27vw;
  display: flex;
  margin-bottom: 41vh;
  align-self: center;
} 
#Flip-Card-Image{
  width: 50%;
  border-radius: 12px;
  background: #998872;
  margin-bottom: 12px;
}

/* .Flip-Card-Back {
}

.Flip-Card-Front {

}
 */


/*NoGamesToday*/
.Wrapper-No-Games{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#noGames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#noGameHeader {
  text-align: center;
  font-family:"zektonrg";
  padding: 5px 0px;
}

#noGameImage {
  border-radius: 3rem;
  height: 65vh;
}






#og-team-logo{
  width: 2vw;
}
#agent-arrow{
  width: 2vw;
}




.Wrapper-Recent-Posts {
  padding-top: 5px;
  padding-bottom: 1px;
  background: linear-gradient(71deg, #d9c2e9, transparent);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Preview-Article-Title {
  margin: 0px 20px;
  text-decoration: none;
  font-family:"13_Misa";
}

/* .WrapperArticle {
} */


/*Table Elements*/

/* .boxElement table,
th,
td {
  border: 1px solid rgb(84, 83, 83);
  font-size: 2vh;
} */


/*Leaderboard*/

#Wrapper-Leaderboard-Feature {
  min-height: 100vh;
  background: black;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.Wrapper-Table-Leaderboard{
  max-width: 100vw;
  overflow-x: scroll;
}

#Leaderboard th:first-child,
#Leaderboard td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: black;
}

#Leaderboard-Username{
  text-align: center;
  font-size: 0.6rem;
  font-family:"13_Misa";
  color: #d9c2e9;
  text-shadow: 2px -2px 3px blue;
}

.leaderboard-place{
  text-shadow: 2px 2px 2px #e800e4;
  font-family:"alarmclock";
  color: #ffffff;
}

#Leaderboard-Username:hover {
}

/* th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  background-color: #fff; 
  z-index: 1;
} */


#thanks {
  box-shadow: inset -3px -1px 20px 0px #d9c2e9;
  color: white;
  padding: 1vh 2vw;
  border-radius: 16px;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-family:"zektonrg";
  width: 48vw;
}

.leader-head {
  /* padding: 2px 8px; */
  font-size: 0.45rem;
}

.leader-head{
  color: #d9c2e9;
  text-shadow: 1px 1px 10px #ffe300;
  font-family:"zektonrg";
}

.leader-data {
  /* border: 1px solid rgb(84, 83, 83);
  font-size: 2vh; */
  font-size: 14px;
  text-shadow: 2px 2px 2px #e800e4;
  font-family:"alarmclock";
  color: #ffffff;
}

#Leaderboard { 
  /* background: #2c1b47;
  color: white; */
  /* border-collapse: collapse; */
}


#Leaderboard-Head {
  /* background-color: #c8c8f8;
  color: black; */
}

#leaderboard-banner {
  text-shadow: 2px -2px 3px blue;
  color: #d9c2e9;
  padding-top: 2.5vh;
  font-family:"13_Misa";
}


#leaderboard-pic {
  width: 4vw;
  /* background: linear-gradient(232deg, #2d1432, #c8c8f8); */
}

.leader-row {
  /* padding: 20px 0px; */
}

/*Leaderboard end*/




.StreakSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#playerStatsError {
  width: 10vw;
}


#attempt-load-header {
  font-family:"alarmclock";
  text-transform: uppercase;
  text-align: center;
  text-wrap: pretty;
  background: #2c1b47;
  color: yellow;
}
.WrapperBadLoad {
  box-shadow: 2px 6px 10px 6px;
  padding: 22px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#bad-load-header {
  padding: 6px;
  font-size: 1rem;
  border-radius: 14px;
  color: white;
  background: #2c1b47;
  margin-top: 8px;
  margin-bottom: 14px;
  font-family:"alarmclock";
  text-transform: uppercase;
  text-align: center;
  text-wrap: pretty;
}
.WrapperBatLoader {
  display: flex;
  justify-content: center;
}
.onDeckDiv {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #c8c8f8
#e4e6f2 */
/* background: linear-gradient(103deg, #ebeb98, #f4e4ff); */

/* font-family: 'zektonrg'; */

/*Desktop only game display rules to avoid clipping*/
@media (min-width: 768px) {
  .game:nth-child(even){
    margin-right: 1vw;
  }
  .game:last-child:nth-child(odd){
    margin-right: 1vw;
  
  }  
}

/*Mobile style*/
@media (max-width: 768px) {

  .flexParent {
    row-gap: 0vh;
  }
  .homeTile {
    border-radius: 11px;
    font-size: 0.9em;
    /* padding-bottom: 80px; */
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .MiddleRow {
    padding: 0px;
    margin: 0px 0px;
    flex-wrap: wrap;
  }
  .WrapperStatGroupButtons {
    width: 100vw;
  }
  #playerName {
    text-align: center;
    font-size: 1.4rem;
  }
  .statGroupButton {
    margin: 0.2vh 1vw;
    padding: 1.5px 4px;
  }
  .search {
    width: 90vw;
  }
  .pitcherName {
    text-wrap: wrap;
    font-size: 12px;
  }
  .predictiveinfoGroup{
    align-items: center;

  }

  #thanks {
    width: 98vw;
    text-wrap: pretty;
  }

  .WrapperRoster {
    display: flex;
    flex-direction: column;
  }
  .WrapperPlayer {
    background: linear-gradient(71deg, #d9c2e9, #f4f4f4);
    box-shadow: 12px 12px 8px 0px black;
    height: 5vh;
    margin: 6px 0px;
    width: 97vw;
    border: #000000 3px;
    border-style: groove;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px;
  }
  #RosterTitle {
    font-size: 4rem;
  }
  .RosterCata {
    padding-left: 2vw;
    font-size: 2rem;
  }
  .SubmitButton{
    margin-bottom: 13px;
    height: 15vw;
    width: 33vw;

  }

  .WrapperTeamMapRoster {
    padding-left: 1vw;
  }
  .playerName {
    text-wrap: nowrap;
    width: min-content;
    padding-right: 4px;
    font-size: 1rem;
  }
  .playerPosition {
    font-size: 1rem;
  }
  #playerAge {
    font-size: 1rem;
  }
  .wrapperUserResults {
    width: 95vw;
  }
  #UserResultsSummary {
    width: 100vw;
  }
  .leagueSelect {
    gap: 0.4rem;
  }
  .leagueSelectButton {
    width: 20vw;
    border-radius: 4px;
    color: white;
    padding: 6.5px 8px;
  }
  .LiveGameScoreBoard {
    width: 100vw;
    gap: 0vw;
  }
  .teamNameSpan {
    font-size: 1rem;
  }

  .boxElement {
    padding: 4vh 0vw;
  }

  .nav {
    height: 6vh;
    font-size: 0.7em;
    margin: 0;
    height: auto;
  }
  .logo {
    height: 6vh;
    width: 6vw;
  }
  .selectteamBat {
    border: none;
    width: 80vw;
    height: 5vh;
  }
  .league-Leader-Card {
    width: max-content;
    padding: 0.5vh 5.2vw;
  }
  .UtilityRosterSelect {
    border: none;
    width: 33vw;
  }
  .UtilityTeamSelect {
    border: none;
    width: 33vw;
  }
  .AdvancedSelect {
    border: none;
    width: 80vw;
  }
  .probMLBPitcherPhoto {
    width: 5vh;
    height: 5vh;
    border-radius: 9px;
  }
  .nonMlbPitcher {
    width: 4vh;
    height: 5vh;
    border-radius: 9px;
  }
  .signoutButton {
    font-size: 0.7rem;
  }
  .gameInfo {
    width: 100vw;
  }
  .RecordSpan {
    font-size: 0.6rem;
  }
  .team {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .glanceSpan {
    font-size: 1rem;
  }
  .glanceLogo {
    width: 2rem;
    height: 2rem;
    padding-bottom: 5px;
    display: flex;
    align-self: center;
  }
  .bigOldScoreNums {
    display: flex;
    align-items: center;
  }
  .scoreNum {
    font-size: 2rem;
    font-weight: bold;
  }
  .firstLiveRow {
    justify-content: space-around;
    gap: 1vw;
    padding: 1vw;
    margin-bottom: 20px;
  }
  .AllBaseInfoWrapper {
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 5px;
  }
  #firstBase {
    border-width: 0.5rem;
  }
  #secondBase {
    border-width: 0.5rem;
    margin-bottom: 1rem;
  }
  #thirdBase {
    border-width: 0.5rem;
  }
  .WrapperLiveCircles {
    height: fit-content;
  }
  .currentPlay {
    padding: 2px;
  }
  .playSpan {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .AllBaseInfoWrapper h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 3px 0px;
  }
  .onBaseSpan {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  .WrapperPitcherVsBatter {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .PitcherVsBatter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .onDeckDiv {
    margin: 0px;
    box-shadow: 3px 2px 6px 2px gray;
    border-radius: 5px;
    padding: 0px 2px;
    background: linear-gradient(71deg, #d9c2e9, transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .vsImage {
    width: 3rem;
    height: 3rem;
    border-radius: 9px;
  }
  .batterImg {
    height: 5rem;
  }
  .OnDeck {
    height: 2rem;
  }
  .bothLineups {
    font-size: 0.8rem;
  }
  .lineup {
    padding: 2px;
  }
  .WrapperPlayerCardBio {
    width: 90vw;
    padding: 0px 0px;
  }
  .WrapperScoringPlays {
    text-wrap: balance;
    text-align: center;
    width: 100vw;
  }
  #noGames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #noGameHeader {
    padding: 10px 0px;
    display: flex;
    font-size: 1.1rem;

  }
  #noGameImage {
    padding: 10px 0px;
    width: 90vw;
    height: 40vh;
    background-repeat: no-repeat;
  }
  .WrapperadvancedBatter {
    justify-content: center;
  }
  .CalledBall {
    color: rgb(17, 99, 6);
  }
  .CalledStrike {
    color: red;
  }
  .requirements-span{
    padding: 7px 8px;
    width: 78vw;
    text-align: center;
    font-size: 12px;
    font-family: "zektonrg";
    margin-bottom: 2px;  
  }
  .WrapperRoster {
    display: flex;
    flex-direction: column;
  }
  #playerPhoto {
    height: 4vh;
    width: 4vh;
  }
  .playerStatus {
    font-family:"zektonrg";
    font-size: .5rem;
  }
  .BioFeild {
    letter-spacing: 0px;
    margin-right: 1px;
  }
  .fieldImg {
    border: #2c1b47 5px solid;
    border-radius: 5px;
  }
  .game {
    margin: 5px 11px 5px 5px;
    width: 96vw;
  }
  .teamInfo {
    width: 38vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }
  .teamGameLogo {
    width: 4vh;
    height: 4vh;
  }
  .teamName {
    font-size: 0.75rem;
    padding-bottom: 5px;
  }
  #sorryImage {
    width: 80vw;
  }
  #sorryPara {
    font-size: 1rem;
  }
  .StatWrapper {
    flex-direction: row;
    background: #fbf7ff;
  }
  .StatFeild {
    width: 251px;
  }
  .StatDataSpan {
    font-family:"BebasNeue-Regular";
  }
  .WrapperQuestion {
    width: auto;
  }
  #WrapperFaq {
    align-items: normal;
  }
  .TeamElementGroupings {
    display: flex;
    flex-direction: column;
  }
  #standingsTable {
    width: auto;
  }
  /*Mobile leaderboard*/

  .leader-head {
    /* font-size: 0.5rem; */
  }
  .WrapperBadLoad {
    width: 90vw;
    margin-bottom: 15px;
    padding: 4px;
  }
  #playerStatsError {
    width: 22vw;
  }
  .settingsImageOption {
    width: 15vw;
  }
  #UserSummaryImage {
    width: 25vw;
  }
  .pitchComponents {
    font-size: 8px;
  }
  #hill {
    height: 21vh;
    width: 29vw;
  }
  .Preview-Article-Title {
    text-align: center;
    font-size: 0.8rem;
    margin: 0px 2px;

  }
  #Recent-Articles-Header {
    text-align: center;
    font-size: 0.8rem;
  }
  .Wrapper-Video-Player {
    margin: 9px 0px;
    width: 92vw;
  }
  #Armchair-Video {
    height: 25vh;
  }
  #hill-comp {
    flex-direction: column;
  }
  .Wrapper-Flip-Card{
    padding-right: 27vh;
    padding-left: 3vh;
  }
  .Flip-Card{
    width: 24vh;
    height: 40vh;
  }
  .Article-Card-Divs{
    gap: 0vw;
    justify-content: none;
    
    margin-bottom: 41vh;
  } 
  .FlipSpan{
    font-size: 1rem;
  }
  .WrapperBioText {
    padding: 1vh 1vw;
    font-size: 0.6rem;
  }
  #PlayerCardImage {
    height: 15vh;
    width: 15vh;
  }
  #ImageName {
    gap: 1vh;
    padding-left: 6px;
  }
  .WrapperRosterCount{
    align-items: center;
  }


  /*Leaderboard Mobile*/
  #Leaderboard {
    
  }
  



} /* End Mobile Styling*/
