@font-face {
    font-family: 'zektonrg';
    src: url('/public/Fonts/zekton-rg.otf') format('opentype');
    /* Add more font formats if necessary */
  }
  



  
  
  
  
  

  
  
  
  
  
  
  
  /*
  CSS RESET
  */
  
  * {
margin: 0;
padding: 0;
box-sizing: border-box;
}




















/*
Login Switch root
*/

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
    background-color: #ffffff;
}


.logoText{
    text-align: center;
    font-family: 'zektonrg';
}


.form-group{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 10px;
   width: 100%;
   
   
}



.signInUpFormInput{
    width: 200px;
}
.signInUpFormInput:focus{
    border-color: #2c1b47;
    outline: none;
}


/*
Login
*/


.signInUpbtn{
    background-color: #6e43b5;
    border-radius: 4px;
    color: white;
    height: 4vh;
    margin: 1vh;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
}


.signInUpbtn:hover{ 
    background-color: #b793ef;
    color: white;
}

.toggleBtn{
    background-color: #6e43b5;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    
    
}


.signInForm{
    display: flex;
    width: 100%;
    justify-content: center;
}

.signInUPText{
    font-size: 2rem;
    font-family: 'zektonrg';
    text-align: center;
    padding: 1vh 0;
}



.signInUpLogo{
    height: 20vh;
    width: 20vh;
}
.signInUpLabel{
    font-size: 1.5rem;
    flex: 1;
    text-align: right;
    margin-right: 10px;
}



/*Sign up */

.signupDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*SIGN IN START SIGN IN START SIGN IN START, SIGN IN START */



.signForm{
    display: flex;
    flex-direction: column;
}


.batholder{
    margin-top: 5vh;
}

.loader {
    margin-top: 25vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#ball {
    position: fixed;
    top: 3em;
    width: 3em;
    height: 3em;
    left: 6em;
    -webkit-animation: bounce .3s cubic-bezier(.63,.09,.76,.45) infinite alternate;
    -moz-animation:    bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
    -o-animation:      bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
    animation:         bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
}

#bat {
    position: fixed;
    top: 3em;
    left: -10.5em;
    -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
    -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
    -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
    animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
    fill:#D7172A;
}

.tan {
    fill:#FFD87D;
}

.white {
    fill:#ffffff;
}

@-webkit-keyframes hit {
    0% { transform: rotate(0deg);} 
    100% { transform: rotate(-10deg); }
  }
  
  @-webkit-keyframes bounce {
      0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
      25% { height: 3em; width: 3em; }
      75% { height: 3em; width: 3em; }
      100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
    }
    
    @-moz-keyframes bounce {
        0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
        25% { height: 3em; width: 3em; }
        75% { height: 3em; width: 3em; }
        100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
    }
    
    @-moz-keyframes hit {
        0% { transform: rotate(0deg);} 
        100% { transform: rotate(-10deg); }
    }
    
    @-o-keyframes bounce {
        0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
        25% { height: 3em; width: 3em; }
        75% { height: 3em; width: 3em; }
        100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
    }
    
    @-o-keyframes hit {
        0% { transform: rotate(0deg);} 
        100% { transform: rotate(-10deg); }
    }
    
    @keyframes bounce {
        0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
        25% { height: 3em; width: 3em; }
        75% { height: 3em; width: 3em; }
        100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
    } 
    
    @keyframes hit {
    0% { transform: rotate(0deg);} 
    100% { transform: rotate(-10deg); }
  }
  

  
  
  /*SIGN IN END SIGN IN END SIGN IN END SIGN IN END SIGN IN END*/
  
  
  
  
  /*NAV START, NAV START, NAV START, NAV START, NAV START, NAV START*/
  .nav{
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 6vh;
      background-color: #2c1b47;
      padding: 0px;
      align-items: center;  
      top: 0px;
      position: sticky;
    }
    @media  (max-width: 768px) {
        .nav { 
            justify-content: center;
            align-items: center;
            font-size: .7em;
            margin: 0;
            height: auto;
            top: 0px;
            position: sticky;
        }
      
      }
      
    
    .logo{
        height:6vh;
        width: 6vw;
    }
    
    .nav a{
        font-family: zektonrg;
        padding: 1vh;
        margin: 2vh;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    @media  (max-width: 768px) {
        .nav a { 
            font-size: .7rem;
            margin: 0;
        }
      
      }
      
      



    
    .nav .active{
        color: #ebeb98;
    }
    
    
    .signoutButton{
        font-family: zektonrg;
        display: inline-block;
        background-color: #2c1b47;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }
    

    @media  (max-width: 768px) {
        .signoutButton { 
            font-size: .7rem;

        }
      
      }
      

    
    
    /* .nav .active {
        background-color: #0d1019;
    } */
    /*NAV END, NAV END, NAV END, NAV END, NAV END, NAV END, NAV END, NAV END*/
    
    
    
    
    
    
    
    /*HOME START, HOME START, HOME START, HOME START, HOME START*/
    
    .flexParent{
        margin: 0 -5px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: white;
    }
    
    
    .homeTile { 
        overflow-wrap: anywhere;
        cursor: pointer;
        padding: 0;
        margin: 0 5px;
        width: 25vw;
        height: 30vh;
        display: inline-flex;
        background: rgb(228,230,242); 
        border: 1px solid #333;
        box-shadow: 8px 8px 5px #444;
        padding-block: 0px;
        padding-inline: 0px;
        font-family: 'zektonrg';
        font-weight: bold;
        font-size: 2em;
        transition: color 0.3s ease;
        justify-content: center;
    }
    
    .homeTile:hover {
        color: #6e43b5; /* Change to your desired color on hover */
    }
    
    /*HOME END, HOME END, HOME END, HOME END, HOME END, HOME END*/
    
    @media  (max-width: 768px) {
      .homeTile { 
          font-size: 1em;
          padding-bottom: 80px;
          align-items: center;
          text-align: center;
          display: flex;
          justify-content: center;

      }
    
    }
    
    
    
    
    
    
    


















    















/*TODAY START, TODAY START, TODAY START,TODAY START, TODAY START */


/*
Wrapper Today[

    game  [ 
        teamInfo [ ]
        todayLiveScore 3 spans
        teamInfo [ ]
        ? Prediction Group ?
]
*/ 

#noGameImage{
    padding: 10px 0px;
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    
}


.WrapperToday{
    display: flex;
    flex-wrap: wrap;
    background-color: white;

}


.game{
    background-color: #f5ffff;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #444;
}


.WrapperPredictionRadios{
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* .radioButton{
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radioButtonLabel{
    color: #000000;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
} */



@media  (max-width: 768px) {
    .game { 
      


    }
  }
  

 @media (max-width: 768px){
    .predictiveinfoGroup{
        
    }
 } 

.probPitcherPhoto{
    
    width: 50%;
    height: 75%;

   
}


@media (max-width: 768px){
    .probPitcherPhoto{
        width: 5vh;
        height: 5vh;
    }
}





.teamInfo{
 margin: 10px;
 display: inline-block;
 padding: 3px;

}


@media (max-width: 768px){
    .teamInfo{
        display: flex;
        justify-content: center;
        flex-direction: row;
    
    }
}


.todayLiveScore{
    font-size: 1rem;
}


.teamGameLogo{
     width: 4vw;
    height: 4vh; 
   
}

@media (max-width: 768px){
    .teamGameLogo{
        width: 8vw;
        height: 8vh;
    }
}

.teamName {
    
}

@media (max-width: 768px){
    .teamName{
        padding-bottom: 5px;
    }
}




.leaugeSelect{
    position: sticky;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: inherit;
}


.leaugeSelect button{
    background-color: #6e43b5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6.5px 8px;
    width: 12vw;
    margin-top: 5px

}



@media (max-width: 768px){

    .leaugeSelect {
        gap: 1.2rem;

    }

    .leaugeSelect button{
        background-color: #6e43b5;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 6.5px 8px;
        
    }
}    








.liveLink{
    color: red;

}

.predictedWinner{
    background-color: rgb(0, 195, 23);
}



/*TODAY END, TODAY END, TODAY END, TODAY END, TODAY END, TODAY END*/








































































/* LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME*/
/* LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME*/
/* LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME*/
/* LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME*/
/* LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START,LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME START, LIVE GAME*/


.firstLiveRow{
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 4vh;
    
}

/*  BASES START, BASES START, BASES START,*/


.AllBaseInfoWrapper{
border: rgb(200, 200, 248) solid 8px;
box-shadow: 8px 8px 5px #444;
 display: inline-flex;
 padding: 3vh;  
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 height: 30vh;
 background-color: #e1e9f2;
 width: max-content;
}



.Bases{
    flex-direction: row-reverse;
    float: none;
    flex: relative;
    justify-content: center;
    position: relative;
    display: flex;


}



#firstBase{
    border-width: 3vh;
    border-style: solid;
    align-self: flex-end;
    transform: rotate(45deg);
    display: block;

}

#secondBase{
    border-width: 3vh;
    margin-bottom: 6vh;
    border-style: solid;
    transform: rotate(45deg);
    transition-duration: 0.5s; 
    display: block;
}

#thirdBase{
    border-width: 3vh;
    border-style: solid;
    align-self: flex-end;
    transform: rotate(45deg);
    transition-duration: 0.5s; 
    display: block;

}


.activeBase{
    border-color: rgb(235, 199, 82);
}

.inactiveBase{
    border-color: rgb(200, 200, 248);
}



/*BASES END, BASES END, BASES END, BASES END, BASES END,*/



.pitchComponets{
    display: flex;
    justify-content: center;
    align-items: center;
}


.PitchWrapper{
    padding: 1vh;
}

.LivePitch{
    display: flex;
    font-size: 2vh;
    color: black;
}    


.PitchType{
    font-weight: bold;
    flex-wrap: wrap;
    text-decoration: underline;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}






/* OUTS START, OUTS START, OUTS START, OUTS START*/

.outGroup{
  width: max-content;

}

.OutMade{
    background-color: red;
}



#outOne{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#outTwo{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#outThree{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}


/*OUTS END OUTS END OUTS END OUTS END OUTS END OUTS END OUTS END*/



.strikeGroup{
    width: max-content;
}


.StrikeMade{
    background-color: red;
}


#strikeOne{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#strikeTwo{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#strikeThree{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}


/* STRIKES END, STRIKES END, STRIKES END, STRIKES END*/






.WrapperLiveCircles{
    display: inline-flex;
    background-color:  #e1e9f2;
    flex-direction: column;
    padding: .5vw;
    border: rgb(200, 200, 248) solid 8px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #444;
}







.ballGroup{
    width: max-content;

}


.BallMade{
    background-color: rgb(17, 99, 6);
}


#ballOne{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#ballTwo{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#ballThree{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}
#ballFour{
    border: 1px solid;
    height: 20px;
    position: relative;
    top: 1px;
    width: 8px;
    display: inline-block;
    margin-right: 2px!important;
    border-radius: 10px;
}









/*BATTER VS PITCHER START, BATTER VS PITCHER START, BATTER BS PITCHER END*/

.WrapperPitcherVsBatter{
    display: flex;
    justify-content: center;
}

.matchup{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.matchup span{
    display: block;
}

.PitcherVsBatter .vs-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-text-container{
    justify-content: center;
}


.OnDeck{
    height: 10vh;
}

.vsImage{
    height:  20vh;
}

#VS{
    font-size: 1.5rem;
    margin: 0 10px;
}


/*BATTER VS PITCHER END, BATTER VS PITCHER END, BATTER VS PITCHER END*/




























.scoreNum{
    display: inline-flex;
    padding-inline: 2vw;
    font-size: 12vh;
}



.LiveGameScoreBoard{
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 1vh;
    margin-top: 0.1vh;
    margin-bottom: 2vh;
    
}






.scoreHeader{
    display: inline-block;
}

.glanceLogo{
    display: block;
    width: 10vw;
    height: 10vh;
}

.teamNameSpan{
    font-size: 1.3rem;
    font-weight: bold;
}


.RecordSpan{
    display: block;
}

.glanceSpan{
    display: flex;
    justify-content: center;
    font-size: 2.5vh;

    font-weight: bold;
}











/*ROSTER START, ROSTER START, ROSTER START, ROSTER START*/








/*BOX SCORE START BOX SCORE START BOX SCORE START*/
.boxElement{
    display: flex;
    justify-content: center;
}


table, th, td {
    border:1px solid rgb(84, 83, 83);
    font-size: 2vh;
}


.boxLogo{
    height: 2vh;

}

/*BOX END, BOX END, BOX END, BOX END. BOX END. BOX END*/











/*PITCH VIS START*/

.WrapperPitchingvis{
    display: flex;
}

.batterImg{
    display: inline;
    height: 50%;
}

.pitchVis{
    display: flex;
    align-items: center;
}

  .strikezone{
      
}



/*Batting Order Start, Batting Order Start, Batting Order Start, BATTING ORDER START, BATTING ORDER START */

.awayLineups{
    display: flex;
    
}

.bothLineups{
    display: flex;
    justify-content: space-around;
}

.lineup{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: max-content;
    box-shadow: 1px 8px 8px 5px #444;
    
}

.lineupBatter{
    padding: 3px;
    display: flex;
}


.BatterActive{
    background-color: rgb(238, 238, 83);
}



/*Batting Order End, Batting Order End, Batting Order End, BATTING ORDER END, BATTING ORDER END*/




/*LEADERBOARD START, LEADERBOARD START, LEADERBOARD START, LEADERBOARD START*/

#leaderBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(200, 200, 248) solid 8px;
    border-radius: 20px;
    background: rgb(228,230,242);
    background: linear-gradient(180deg, rgba(228,230,242,1) 0%, rgba(200,200,248,1) 100%);
}

.leaderEntry{
    background-color: white;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    width: 50vw;
    padding: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
}


.cata{
    display: flex;
    gap: 4vw;
    text-decoration: underline;
}

.leaderBoardCata{
    display: flex;
    gap: 2vw;
}


.leaderEntry{
    font-family: zektonrg;
    justify-content: center;
    font-size: 1.5vh;
    display: flex;
    gap: 8vw;
}


/* .shadow-elevation-high{
    0px -0.1px 0.2px hsl(var(--shadow-color) / 0),
    0.4px -0.6px 1.1px hsl(var(--shadow-color) / 0.05),
    0.7px -1.1px 2px hsl(var(--shadow-color) / 0.11),
    1px -1.6px 2.8px hsl(var(--shadow-color) / 0.16),
    1.3px -2.1px 3.7px hsl(var(--shadow-color) / 0.21),
    1.7px -2.8px 4.9px hsl(var(--shadow-color) / 0.26),
    2.1px -3.6px 6.3px hsl(var(--shadow-color) / 0.32),
    2.8px -4.6px 8.1px hsl(var(--shadow-color) / 0.37),
    3.5px -5.9px 10.3px hsl(var(--shadow-color) / 0.42),
    4.6px -7.6px 13.3px hsl(var(--shadow-color) / 0.47);


}
 */

/*LEADERBOARD END, LEADERBOARD END, LEADERBOARD END, LEADERBOARD END*/





/*ROSTER START, ROSTER START, ROSTER START, ROSTER START, ROSTER START, ROSTER START*/

#selectDropDowns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px 0px;
}


#RosterTitle{
    text-align: center;
    font-size: 5rem;
    font-family: zektonrg;
}

.RosterGroup{
    display: flex;
    flex-direction: column;
}
.WrapperPlayer{
    box-shadow: -14px 4px 8px 0px #444;
    padding: 10px 4px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#playerPhoto{
    height: 8vh;
    width: 8vh;
}
.WrapperRoster{
    display: flex;
    flex-direction: column;
    }
.WrapperTeamMapRoster{
display: flex;
padding-left: 7vw;
}

.RosterCata{
    padding: 5px 0px;
    font-size: 3rem;
    font-family: zektonrg;
    text-decoration: underline;
}

.playerJerseyNum{
    color: #726565;
}

.playerName{
    font-size: 2rem;
    font-weight: bold;

}
.playerPosition{

}
.playerStatus{

}
.CoachTitle{

}


/*ROSTER END, ROSTER END, ROSTER END, ROSTER END ROSTER END, ROSTER END, ROSTER END, ROSTER END*/


/*SABER FIELDING START,SABER FIELDING START,SABER FIELDING START,SABER FIELDING START,*/
.playerFieldCard{
    display: flex;
    gap: 2vw;
    justify-content: center;
    
}

.WrappersaberField{
    display: flex;
    flex-direction: column;
}

.fieldImg{
    display: inline-flex;
    border: rgb(200,200,248) 20px solid;  
    border-radius: 10px;
    width: 18vw;
}

.saberSpan{
    display: flex;
    flex-direction: column;
}



.search{
    display: flex;
    width: max-content;
    flex-direction: column;
}


.topLineWrapper{
    padding: 4vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

@media  (max-width: 768px) {
    .fieldImg{
        border: #2c1b47 5px solid;
        border-radius: 5px;
    }

}



/*SABER FIELDING END,SABER FIELDING END, SABER FIELDING END, SABER FIELDING END, SABER FIELDING END,  */










/*current play*/

.currentPlay{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    border: rgb(200, 200, 248) solid .5vh;
    box-shadow: 8px 8px 5px #444;
    width: max-content;
    align-items: center;
    height: max-content;
    
    
}

.playSpan{
    display: flex;
    flex-direction: column;
    padding: .5vh;
    
}


/*Scoring plays start*/

.score{
    font-weight: bolder;
    font-size: 3vh;
    display: flex;
    justify-content: center;
}

.WrapperScoringPlays{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: .5vh;
    border: rgb(200, 200, 248) solid .5vh;
    box-shadow: 8px 8px 5px #444;
    width: max-content;
}

.ScoringPlays{
    display: flex;
    justify-content: center;
    
    
}
.scoreheader{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 3vh;
}







/*ADVANCEDBATTTING ADVANCED BATTING ADVANCED BATTING ADVANCED BATTING START*/

.displayWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.headerBat{
    
}

.selectteamBat{
    padding: 10px;
    font-size: 16px;
    border: 3px solid #333;
    box-shadow: 8px 8px 5px #2d1432;
    color: white;
    border-radius: 4px;
    background-color: #6e43b5;
    width: 200px;
    cursor: pointer;
}


.batterTeamDisplay{
    height: 8vh;
    width: 8vw;
}


.WrapperadvancedBatter{
    margin: 2vw;
    gap: .3vw;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.batterCard{
    justify-content: space-evenly;
    padding: .2vw;
    display: flex;
    width: max-content;
    background-color: #6e43b5;
    flex-direction: column;
}

.ABSpan{
    font-family: 'zektonrg';
    color: white;
}
.ABSpanName{
    text-align: center;
    font-family: 'zektonrg';
    color: white;
    text-decoration: underline;
    
}

/* ABSpan
batterImg10
batterCard */




@media  (max-width: 768px) {

    .gameInfo{
        width: 100vw;
    }


    .LiveGameScoreBoard { 
        width: 100vw;
        
    }

    .RecordSpan{
        font-size: .6rem;
    }
    
    .team{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

    }
    
    .glanceSpan{
        font-size: 1rem;
    }

    .glanceLogo{
        width: 2rem;
        height: 2rem;
        padding-bottom: 5px;
        display: flex;
        align-self: center;
    }


    .bigOldScoreNums{
        display: flex;
        align-items: center;

    }
    .scoreNum{
        font-size: 2rem;
        font-weight: bold;
    }




    .firstLiveRow{
        justify-content: space-around;
        gap: 1vw;
        padding: 1vw;
        margin-bottom: 20px;
    }

    .AllBaseInfoWrapper{
        display: inline-flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        padding: 5px;
    }

    #firstBase{
        border-width: .5rem;
    }
    #secondBase{
        border-width: .5rem;
        margin-bottom: 1rem;

    }
    #thirdBase{
        border-width: .5rem;


    }

    .WrapperLiveCircles{
        height: fit-content;
    }

    .currentPlay {
        padding: 2px;
    }

    .playSpan{
        font-size: .8rem;
        font-weight: bold;
    }




    .AllBaseInfoWrapper h3 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding: 3px 0px;

    }
    .onBaseSpan{
        display: flex;
        flex-direction: column;
        font-size: .8rem;

    }


    .WrapperPitcherVsBatter{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .PitcherVsBatter{
        display: flex;
        flex-direction: column;
    }



    .vsImage{
        width: 3rem;
        height: 3rem;
    }


    .batterImg{
        height: 5rem;
    }


    .OnDeck{
        height: 2.5rem;
    }






    .bothLineups{
        font-size: .8rem;

    }
    
    .lineup{
        padding: 2px;
    }



    .WrapperScoringPlays{
        width: 100vw;
    }


/* move this to mobile today*/
   #noGames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   #noGameHeader{
    padding: 10px 0px;
    display: flex;
    font-size: 1.1rem;
    font-family: zektonrg;
   }


    #noGameImage{
        padding: 10px 0px;
        width: 90vw;
        height: 40vh;
        background-repeat: no-repeat;
        
    }

    .WrapperadvancedBatter{
        justify-content: center;
    }
  




    /*Pitch data*/
    .LivePitch{

    }

    .CalledBall{
        color: rgb(17, 99, 6)

    }

    .CalledStrike{
        color: red;
    }


    /*ROSTER START, ROSTER START, ROSTER START, ROSTER START*/

    .WrapperRoster{
        display: flex;
        flex-direction: column;

    }
    .WrapperPlayer{
        background-color: #ffffff;
        border: #000000 solid 5px;
        border-style: double;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #playerPhoto{
        width: 6vh;


    }



  } 
  



  /* .firstLiveRow{
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 4vh;
    
}

.AllBaseInfoWrapper{
border: rgb(200, 200, 248) solid 8px;
box-shadow: 8px 8px 5px #444;
 display: flex;
 padding: 3vh;  
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 height: 30vh;
 background-color: #e1e9f2;
}



.Bases{
    flex-direction: row-reverse;
    float: none;
    flex: relative;
    justify-content: center;
    position: relative;
    display: flex;


}

#firstBase{
    border-width: 3vh;
    border-style: solid;
    align-self: flex-end;
    transform: rotate(45deg);
    display: block;

}

#secondBase{
    border-width: 3vh;
    margin-bottom: 6vh;
    border-style: solid;
    transform: rotate(45deg);
    transition-duration: 0.5s; 
    display: block;
}

#thirdBase{
    border-width: 3vh;
    border-style: solid;
    align-self: flex-end;
    transform: rotate(45deg);
    transition-duration: 0.5s; 
    display: block;

}


 */




/*LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END LIVE GAME END LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END*/
/*LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END LIVE GAME END LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END*/
/*LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END LIVE GAME END LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END*/
/*LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END LIVE GAME END LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END, LIVE GAME END*/






/*PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD START PLAYER CARD STARTPLAYER CARD STARTPLAYER CARD STARTPLAYER CARD STARTPLAYER CARD START*/


.WrapperPlayerCardBio {
    display: flex;
    background-color: #ebeb98;
    align-items: center;
    justify-content: center;
}

.WrapperBioText{
    display: flex;
    flex-direction: column;
    padding: 10vw 10vw;
}

#PlayerCardImage{
    height: 20vh;
    width: 20vh;
}



/*  PLAYER CARD END PLAYER CARD END  PLAYER CARD END  PLAYER CARD END PLAYER CARD END PLAYER CARD END PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END PLAYER CARD END PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  PLAYER CARD END  */ 